<form method="post" action="/">      
	<fieldset>      
	<table cellpadding="1" cellspacing="2" border="0" bgcolor="#222222" width="810">
	<tr>
		<td bgcolor="#444444" align="right">SWP Items:</td><td><input class="check" type="checkbox" name="i5" value="1" checked="yes"></td>
		<br>      
		<td bgcolor="#444444" align="right">MH Items:</td><td><input class="check" type="checkbox" name="i5" value="1" checked="yes"></td>
		<br>      
		<td bgcolor="#444444" align="right">BT Items:</td><td><input class="check" type="checkbox" name="i5" value="1" checked="yes"></td>
		<br>      
		<td bgcolor="#444444" align="right">MH Items:</td><td><input class="check" type="checkbox" name="i5" value="1" checked="yes"></td>
		<br>      
		<td bgcolor="#444444" align="right">Gruul Items:</td><td><input class="check" type="checkbox" name="i5" value="1" checked="yes"></td>
		<br>      
		<td bgcolor="#444444" align="right">Mag Items:</td><td><input class="check" type="checkbox" name="i5" value="1" checked="yes"></td>
		<br>      
	</tr>
	</table>
		<input type="submit" value="Submit now" />      
	</fieldset>      
</form>
